---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>DeaDBeeF VKontakte plugin</h1>

        <ul>
          <li><a href="./#features">Features</a></li>
          <li><a href="./#packages">Packages</a></li>
          <li><a href="./#building_from_source">Building</a></li>
          <li><a href="./#contacts">Contacts</a></li>
        </ul>

        <p class="view"><a href="https://github.com/scorpp/db-vk">View the Project on GitHub <small>scorpp/db-vk</small></a></p>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/scorpp">scorpp</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>    
  </body>
</html>
