---
---
{% assign t = site.tags.translations[0] %}<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ t.[page.lang].index.header }}</h1>

        <ul>
          <li><a href="./#features">{{ t.[page.lang].index.features }}</a></li>
          <li><a href="./#packages">{{ t.[page.lang].index.packages }}</a></li>
          <li><a href="./#building-from-source">{{ t.[page.lang].index.building_from_source }}</a></li>
          <li><a href="./#contacts">{{ t.[page.lang].index.contacts }}</a></li>
        </ul>

        <p class="view"><a href="https://github.com/scorpp/db-vk">{{ t.[page.lang].index.view_project_on_github }} <small>scorpp/db-vk</small></a></p>
      </header>
      <section>
        <div style="float:right;margin-top:-55px;"><a href="{% if page.lang != 'ru' %}../{% else %}en/{% endif %}">{{ t.[page.lang].index.[page.lang]}}</a></div>
        {{ content }}
      </section>
      <footer>
        <p>{{ t.[page.lang].index.contacts }} <a href="https://github.com/scorpp">scorpp</a></p>
        <p><small>{{ t.[page.lang].index.hosted_by }} <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ site.baseurl }}/javascripts/scale.fix.js"></script>    
  </body>
</html>
